<html class = "container">
<div class = "container">
<h1 class = "write_title Mont">Successfully completed!</h1>
<h2 class = "Mont">Title: <%= @title %></h2>
<h2 class = "Mont">Content: <%= @content %></h2>
<a href = "/">To Home</a>
</div>
</html>