@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container{
    background-color: skyblue;
}

.title{ 
    font-size: 4em;
    text-align: center;
}
.write_title{
    font-size: 4em;
    text-align: center;
}
.Oswald{
    font-family: 'Oswald', sans-serif;
}
.Mont{
    font-family: 'Montserrat', sans-serif;
}
// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
